.atc {
    text-align: center;
}
p {
    text-align: center;
}
.ser {
    color: blue;
}
h1 {
    text-align: center;
}
.i , .d {
    color: blue;
}
.webimg {
    width: 10em;
    height: 10em;
}

.cimg {
    text-align: center;
    padding: 2em;
}

h3 {
    padding: 1em;
    text-align: center;
}
